<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$title}</title>
<meta name="keywords" content="Cocoa iOS 开发者 iPhone iPad iPod Touch" />
<meta name="description" content=" Tiny4Cocoa  关注Cocoa/iOS开发者，关注iPhone/iPad/iPod Touch开发" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="/static/css/2012-05-02/" />
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<script type="text/javascript" src="http://cbjs.baidu.com/js/m.js"></script>
<script type="text/javascript">
window.google_analytics_uacct = "UA-53077-22";
</script>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/">Tiny4Cocoa</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li class="active"><a href="/">首页</a></li>
            <li>
            <a href="/apple/">苹果新闻</a></li>
            <li><a href="/bbs.php">论坛</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
  	{$mainContent}
    <hr/>
  </div>
  <footer class="footer">
  <p>&copy; Tiny Netwotk 2012</p>
  <p><a href="/myhome">Old home</a> | <a href="/blog">Tinyfool's blog</a></p>
  </footer>
  <script src="/static/js/02/" type="text/javascript"></script>
</body>
</html>