<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$title}</title>
<meta property="wb:webmaster" content="5f7396692a95168c" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="/static/css/2012-12-31/" />
<script src="/static/js/02/" type="text/javascript"></script>
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<script type="text/javascript" src="http://cbjs.baidu.com/js/m.js"></script>
<script type="text/javascript">
window.google_analytics_uacct = "UA-53077-22";
</script>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/">Tiny4Cocoa</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li 
            {if $active=="home"}
            class="active"
            {/if}
            ><a href="/">首页</a></li>
            <li
            {if $active=="thread"}
            class="active"
            {/if}
            ><a href="/thread/">讨论区</a></li>
            <li
            {if $active=="apple"}
            class="active"
            {/if}
            ><a href="/apple/">苹果新闻</a></li>
            <li
            {if $active=="os"}
            class="active"
            {/if}
            ><a href="/os/">开源</a></li>
            <li
            {if $active=="bbs"}
            class="active"
            {/if}
            ><a href="/bbs.php">论坛</a></li>
            <li
            {if $active=="link"}
            class="active"
            {/if}
            ><a href="/home/link/">友情链接</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
  	{$mainContent}
  </div>
  <footer class="footer">
  <p>&copy; Tiny4Cocoa</p>
  <p>兄弟站点：
    <a href="http://iapp4me.com">iApp4Me（App推荐）</a>
    <a href="http://tiny4.org">Tiny Network</a>
    <a href="http://magazine-maker.com">iPad Magazine Maker</a>
  </p>
  </footer>
  <script type="text/javascript">
  {literal}

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-53077-22']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  {/literal}
  </script>
</body>
</html>