<div class="row">
  <div class="span8" itemscope itemtype="http://schema.org/Article">
    <div class="content-unit">
      <meta itemprop="thumbnailUrl" content="http://tiny4cocoa.com/newsupload/{$news.filename}_s.{$news.ext}"/>
      <h1 class="title" itemprop="name">{$news.title}</h1>
      <hr/>
      <div style="text-align:center;">
        {if $iPhone}
          <script type="text/javascript">BAIDU_CLB_fillSlot("745564");</script> 
        {else}
          <script type="text/javascript">BAIDU_CLB_fillSlot("745560");</script>
        {/if}
      </div>  
      <p class="desc">by <span itemprop="author">{$news.author}</span></p>
      <div class="content">
        {$news.content}
        <p>原文地址：<a href="{$news.link}">{$news.link}</a></p>
      </div>
    </div>
  </div>

  <div class="span4">
    
    <div class="siderbar-unit">
      <strong>置顶</strong>
      {foreach from=$toplist item=link}
  	  <div class="newsblock">
        <a href="{$link.link}">
          {$link.title}
        </a>
      </div>
      {/foreach}
    </div>
    
    <div class="siderbar-unit">
      最新帖子
      <div class="threadblock">
        <ul>
          {foreach from=$threads item=item}
            <li>          
              <a href="/thread/show/{$item.id}/">{$item.title}</a>
            </li>
          {/foreach}   
        </ul>
      </div> 
    </div>
    
    <div class="siderbar-unit">
      <strong>苹果新闻</strong>
      {foreach from=$applenews item=item}
  	  <div class="newsblock">
        {if $item.image}
          <img src="{$item.image}" width="40" style="float:left;">
        {/if}
        <div style="margin-left:50px;">
        <a href="/apple/n/{$item.id}/">
          {$item.title}
        </a>
      </div>
      </div>
      {/foreach}
      <p class="threadfootnote"><a href="/apple/">查看更多</a></p>
    </div>
    
    <div class="siderbar-unit">
      <div style="text-align:center;">
        <script type="text/javascript"><!--
          google_ad_client = "ca-pub-7732761529337293";
          /* tiny4cocoa正方形250&#42;250 */
          google_ad_slot = "7613412479";
          google_ad_width = 250;
          google_ad_height = 250;
          //-->
        </script>
        <script type="text/javascript"
        src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
        </script>
      </div>
    </div>
  </div>
</div>
