<div class="span8 pull-left" itemscope itemtype="http://schema.org/Article">
  <meta itemprop="thumbnailUrl" content="http://tiny4cocoa.com/newsupload/{$news.filename}_s.{$news.ext}"/>
  <h1 class="title" itemprop="name">{$news.title}</h1>
  <p class="desc">by <span itemprop="author">{$news.author}</span>
  </p>
  <div class="content">
    {$news.content}
    <p>原文地址：<a href="{$news.link}">{$news.link}</a></p>
  </div>
   <div style="text-align:center;padding:10px;">
     <!-- 广告位：tiny4cocoa贴后 -->
     <script type="text/javascript">BAIDU_CLB_fillSlot("498926");</script>
   </div>
</div>

<div class="news_sidebar span3 pull-right">
  
  <div class="wumii-hook">
      <input type="hidden" name="wurl" value="http://tiny4cocoa.com/apple/n/{$news.id}/" />
      <input type="hidden" name="wtitle" value="{$news.title}" />
      <input type="hidden" name="wpic" value="" />
  </div>
  <div id="post_rate_div_27561"></div>
  <script type="text/javascript"><!--
    google_ad_client = "ca-pub-7732761529337293";
    /* tiny4cocoa正方形250&#42;250 */
    google_ad_slot = "7613412479";
    google_ad_width = 250;
    google_ad_height = 250;
    //-->
  </script>
  <script type="text/javascript"
  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div>

<script type="text/javascript"><!--
    var wumiiSitePrefix = "http://tiny4cocoa.com/";
    var wumiiEnableCustomPos = false;
//--></script>
<script type="text/javascript" src="http://widget.wumii.com/ext/relatedItemsWidget.htm?type=1&num=6&v=1.0.0.3&pf=Discuz7.2"></script>
<a href="http://www.wumii.com/widget/relatedItems.htm" style="border:0;">
    <img src="http://static.wumii.com/images/pixel.png" alt="" style="border:0;padding:0;margin:0;" />
</a>
