<div class="row">
  <p>服务状态</p>
    <div class="span6">
      <div class="content-unit">
        注册人数
        <div class="threadblock">
          <img src="http://chart.apis.google.com/chart?chs=400x200&cht=bvg&chxt=y&chco=3072F3&chd=t:{$regUsersTrend.data}&chm=N,000000,0,-1,10" />
        </div>
      </div>
    </div>

    <div class="span6">
      <div class="content-unit">
        发帖数
        <div class="threadblock">
          <img src="http://chart.apis.google.com/chart?chs=400x200&cht=bvg&chxt=y&chco=3072F3&chd=t:{$threadTrend.data}&chm=N,000000,0,-1,10" />
        </div>
      </div>
    </div>
    
    <div class="span6">
      <div class="content-unit">
        回帖数
        <div class="threadblock">
          <img src="http://chart.apis.google.com/chart?chs=400x200&cht=bvg&chxt=y&chco=3072F3&chd=t:{$replyTrend.data}&chm=N,000000,0,-1,10" />
        </div>
      </div>
    </div>

</div>