RewriteEngine On
#for nextbook auth
RewriteRule ^nextbook/api/auth$ nextbook/auth.php
#for new UI
RewriteRule ^home$ tiny4cocoa/public/index.php
RewriteRule ^home/(.*)$ tiny4cocoa/public/index.php
RewriteRule ^apple$ tiny4cocoa/public/index.php
RewriteRule ^apple/(.*)$ tiny4cocoa/public/index.php

RewriteRule ^os$ tiny4cocoa/public/index.php
RewriteRule ^os/(.*)$ tiny4cocoa/public/index.php

RewriteRule ^thread/(.*)$ tiny4cocoa/public/index.php
RewriteRule ^user/(.*)$ tiny4cocoa/public/index.php
RewriteRule ^faq/(.*)$ tiny4cocoa/public/index.php
RewriteRule ^sendmail/(.*)$ tiny4cocoa/public/index.php
RewriteRule ^crontab/(.*)$ tiny4cocoa/public/index.php


RewriteRule ^static/(.*)/$ tiny4cocoa/public/index.php
RewriteRule ^static/(.*)$ tiny4cocoa/public/index.php
RewriteRule ^homeadmin/(.*) tiny4cocoa/public/index.php
RewriteRule ^playground$ tiny4cocoa/public/index.php
RewriteRule ^playground/(.*)$ tiny4cocoa/public/index.php

#transfer form discuz!
RewriteCond %{QUERY_STRING} action=nav
RewriteRule ^misc\.php$ http://tiny4cocoa.com/thread/new/
RewriteCond %{QUERY_STRING} action=newthread
RewriteRule ^post\.php$ http://tiny4cocoa.com/thread/new/
#for discuz
RewriteRule ^archiver/((fid|tid)-[\w\-]+\.html)$ archiver/index.php?$1
RewriteRule ^forum-([0-9]+)-([0-9]+)\.html$ forumdisplay.php?fid=$1&page=$2

#新FAQ区
RedirectMatch 301 ^/thread-([0-9]+)-([0-9]+)-([0-9]+)\.html$ /faq/show/$1/

RewriteRule ^space-(username|uid)-(.+)\.html$ space.php?$1=$2
RewriteRule ^tag-(.+)\.html$ tag.php?name=$1

#for doc
RewriteRule ^doc/$ tiny4wiki/index.php
RewriteRule ^doc$ tiny4wiki/index.php
RewriteRule ^doc/(.+)/$ tiny4wiki/index.php?act=show&wiki=$1
RewriteRule ^doc/(.+)$ tiny4wiki/index.php?act=show&wiki=$1
