<style>
{literal}
  .question {
    
    padding-top:15px;
    padding-bottom:15px;
    
    border-bottom:solid #ccc 1px;
  }
  .question .mark {
    text-align:center;
    float:left;
    width:50px;
/*    border:solid red 1px; 
*/  }
  .question .title {
  
    margin-left:160px;
/*    border:solid red 1px; 
*/    height:50px;
  }
  .question .title h3 {
    
    font-size:18px;
    margin-top:0;
    padding-top:0;
    line-height:20px;
  }
{/literal}
</style>
<div class="row">
  <div class="span9">
    <div class="question">
      <div class="mark">
        0<br/>
        票
      </div>
      <div class="mark">
        0<br/>
        回答
      </div>
      <div class="mark">
        0<br/>
        浏览
      </div>
      <div class="title">
        <h3><a href="">异步http下载数据的过程中，用户点击返回后崩溃</a></h3>
        <div class="pull-right">30分钟前 tinyfool 100k</div>
      </div>
    </div>   
    <div class="question">
      <div class="mark">
        0<br/>
        票
      </div>
      <div class="mark">
        0<br/>
        回答
      </div>
      <div class="mark">
        0<br/>
        浏览
      </div>
      <div class="title">
        <h3>异步http下载数据的过程中，用户点击返回后崩溃</h3>
        <div class="pull-right">30分钟前 tinyfool 100k</div>
      </div>
    </div>
  </div>
  
  <div class="span3">

  </div>

</div>