<div style="width:726px;height:88px;background:white;">
  <div style="width:360;height:86px;float:left;">
    <div style="padding-left:7px;">
      <div style="font-size:20px;">[招聘][{$job1.city}]{$job1.position}</div>
      <div style="font-size:15px;"><span style="color:green;">{$job1.department}</span> <span style="color:red;">{$job1.salary}</span></div>
      <div style="text-align:right;padding-right:17px;">
        <a href="/jobs/show/{$job1.id}/" target="_blank">
查看详情</a>
      </div>
    </div>
  </div>
  <div style="width:360;height:86px;float:left;">
      <div style="padding-left:7px;">
        <div style="font-size:20px;">[招聘][{$job2.city}]{$job2.position}</div>
        <div style="font-size:15px;"><span style="color:green;">{$job2.department}</span> <span style="color:red;">{$job2.salary}</span></div>
        <div style="text-align:right;padding-right:17px;">
        <div style="text-align:right;padding-right:17px;">
          <a href="/jobs/show/{$job2.id}/" target="_blank">
查看详情</a>
        </div>
      </div>
  </div>
</div>