<style>
body {
  background-color: 
  #ccc;
}
</style>
<div class="row">
  <div class="span9">
    <div style="padding: 10px;margin-bottom: 30px;" class="content-unit  water-area">
    <p class="pull-right">
      <a href="/thread/">最新</a> | <a href="/thread/hot/">最热</a> | <a href="/thread/cold/">最冷</a>
    </p>
    <div class="clearfix"></div>
    {foreach from=$threads item=item}
    <div class="threadblock">
      <div class="pull-right">
        <div class="label label-info pull-right" style="display:block;">{$item.replys}回复</div>
        <br/>
        <div class="label label-warning pull-right" style="display:block;">{$item.likecount-$item.dislikecount}赞成</div>
      </div>
      <div style="">
        
        <a href="/thread/show/{$item.id}/">{$item.title}</a>
        <div class="muted">
          {$item.createtime} by  
          <a href="/user/show/{$item.createbyid}/{$item.createby}/" class="muted" target="_blank">{$item.createby}</a> 
          <a href="/user/show/{$item.createbyid}/{$item.createby}/"target="_blank">
            <img src="{$item.image}" style="width:12px;height:12px;margin-top:-6px;">
          </a>
          
          {if $item.lastreplyid>0}
            | 最后回复 {$item.updatetime} by <a href="/user/show/{$item.lastreplyid}/{$item.lastreply}/" class="muted" target="_blank">{$item.lastreply}</a> 
          {/if}
        </div>
      </div>
    </div>
    {/foreach}
    <div style="text-align:center;">
      {$pageControl}
    </div>
    
  </div>
  </div>
  <div class="span3">
    <div class="siderbar-unit" style="text-align:center;">
      <a href="/thread/new/" class="btn btn-success">发布新帖</a>
    </div>
    
    <div class="siderbar-unit">
      <strong>置顶</strong>
      {foreach from=$toplist item=link}
  	  <div class="newsblock">
        <a href="{$link.link}">
          {$link.title}
        </a>
      </div>
      {/foreach}
    </div>
    
    <div class="siderbar-unit">
      最新帖子
      <div class="threadblock">
        <ul>
          {foreach from=$newthreads item=item}
            <li>          
              <a href="/thread/show/{$item.id}/">{$item.title}</a>
            </li>
          {/foreach}   
        </ul>
      </div> 
    </div>
    
  </div>
</div>