<style>
body {
  background-color: 
  #ccc;
}
</style>
<div class="row">
  <div class="span8">
    <div style="padding: 10px;margin-bottom: 30px;" class="content-unit">
    <strong>讨论区</strong>
    {foreach from=$threads item=item}
    <div class="threadblock">
      <span class="label label-info pull-right" style="margin-top:5px;">{$item.replys}</span>
      {if $item.image}
        <img src="{$item.image}" width="48" style="float:left;">
      {/if}
      <div style="margin-left:54px;">
        <a href="/thread/show/{$item.id}/">{$item.title}</a>
        <div class="muted">
          {$item.createtime} by  
          <a href="/" class="muted" target="_blank">{$item.createby}</a> 
          {if $item.lastreplyid>0}
            | 最后回复 {$item.updatetime} by <a href="/" class="muted" target="_blank">{$item.lastreply}</a> 
          {/if}
        </div>
      </div>
    </div>
    {/foreach}
    </div>
  </div>
  <div class="span4">
    <div class="siderbar-unit" style="text-align:center;">
      <a href="/thread/new/" class="btn btn-success">发布新帖</a>
    </div>
  </div>
</div>