<style>
body {
  background-color: 
  #ccc;
}
</style>
<script type="text/javascript">
$(document).ready(function() {
  $("#newreplyform").validate();
});
</script>
<div class="row">
  
  <div class="span8">
    <div class="content-unit">
      <h4>{$thread.title}</h4>
      <small class="muted">
        由 <a href="" class="muted">{$thread.createby}</a> 发布于 {$thread.createtime}
      </small>
      <div class="threadblock">{$thread.content}</div>
    </div>
    
    {if $replysCount==0}
      <div style="text-align:center;padding-bottom:20px;">
        暂无回复
      </div>
    {else}
      <div class="content-unit">
        {$replysCount}条回复
        {foreach from=$replys item=item}
          <div class="threadblock">
            <div class="muted">
              <a href="" class="muted">{$item.name}</a> 回复于 {$item.createtime}
            </div>
            {$item.content}
          </div>
        {/foreach}
      </div>
    {/if}
    
    <div class="content-unit">
      <form action="/thread/show/{$thread.id}/" 
        method="post" accept-charset="utf-8" id="newreplyform">
        <label for="content">内容</label>
        <textarea name="content" rows="8" cols="40" id="content" style="width:90%;" required minlength="5"></textarea>
        <div class="threadblock" style="text-align:center;">
          <input type="submit" name="submit" value="提交回复" id="submit" class="btn btn-primary"> 
        </div>
      </form>
    </div>
  </div>
  
  <div class="span4">
    <div class="siderbar-unit" style="text-align:center;">
      <a href="/thread/new/" class="btn btn-success">发布新帖</a>
    </div>
    <div class="siderbar-unit">
      回帖格式
      <div class="threadblock">
        <ul>
          <li>支持 Markdown 格式, **<strong>粗体</strong>**、~~<del>删除线</del>~~、`<code>单行代码</code>`</li>
        </ul>
      </div>
    </div>
    
  </div>
  
</div>