<div class="row">
<div class="span8 pull-right">
  {if $userid==2|| $userid==20949}
    <p class="pull-right">
      <a href="/homeadmin/comments">Spam回复{$spamcount}个</a>, 
      <a href="/homeadmin/applenews/unmarked/">未检查新闻{$newscount}条</a>。
    </p>
  {/if}
  <h3>本站新闻</h3>
	{foreach from=$news item=item name=sitenews}
	<div class="newsblock">
		<a href="/home/s/{$item.id}/"><img class="pic hidden-phone" src="/newsupload/{$item.filename}_s.{$item.ext}"></a>
		<div class="content">
			<h3><a href="/home/s/{$item.id}/">{$item.title}</a></h3>
			<div class="authinfo">
        {$item.poster} 发表于 
        <span class="timestamp">{$item.createtime}</span>
        {if $item.commentscount>0}
          <a href="/home/s/{$item.id}/">{$item.commentscount}个评论</a>
        {else}
          <a href="/home/s/{$item.id}/">暂无评论</a>
        {/if}
      </div>
			<div>{$item.desc}
			</div>
		</div>
		<div style="clear:both"></div>
    {if $smarty.foreach.sitenews.index == 2}
      <div style="text-align:center;margin-top:10px;" class="hidden-phone">
        <script type="text/javascript"><!--
        google_ad_client = "ca-pub-7732761529337293";
        /* 468&#42;15 */
        google_ad_slot = "5228913806";
        google_ad_width = 468;
        google_ad_height = 60;
        //-->
        </script>
        <script type="text/javascript"
        src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
        </script>
      </div>
    {/if}
	</div>
	{/foreach}
  <div style="text-align:center;">
    {$pageControl}
  </div>
</div>

<div class="span4">
  <div class="hero-unit" style="padding:10px;">
    <h3>论坛最新更新</h3>
    <ul>
      {foreach from=$threads item=thread}
        <a href="/thread-{$thread.tid}-1-1.html" target="_blank">
          <li class="newstitle">
  		      {$thread.subject}
  		      <p class="threadfootnote">{$thread.lastposter}评论        [{$thread.replies}/{$thread.views}]<p>
          </li>
        </a>
      {/foreach}
    </ul>
  </div>
  <div style="text-align:center;margin-bottom:20px;">
  	<script type="text/javascript"><!--
  	google_ad_client = "ca-pub-7732761529337293";
  	/* Tiny4Cocoa中矩形 */
  	google_ad_slot = "9864552691";
  	google_ad_width = 300;
  	google_ad_height = 250;
  	//-->
  	</script>
  	<script type="text/javascript"
  	src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
  	</script>
  </div>
  
  <div class="hero-unit" style="padding:10px;">
  <h3>最新苹果新闻(<a href="/apple/">全部</a>)</h3>
    {foreach from=$applenews item=item}
    <a href="/apple/n/{$item.id}/" target="_blank">
      <p class="newstitle">
        {if $item.image}
          <img src="{$item.image}" width="40" style="float:left;">
        {/if}
        <div style="margin-left:50px;">
		      {$item.title}［{$item.name}］
		      <p class="threadfootnote">发布于{$item.time}<p>
        </div>
        </p>
      </a>
      {/foreach}
      <p class="threadfootnote"><a href="/apple/">查看更多</a></p>
  </div>
  
  <div style="padding:10px" class="hero-unit">
    <p>热门Tag: 
    {foreach from=$tags item=tag}
      <a href="/tag.php?name={$tag.tagname}" target="_blank">{$tag.tagname}</a>
    {/foreach}
    </p>
  </div>
  
  </div>
</div>
