<style>
   .heroicon {
     
     width:24px;
     height:24px;
     float:left;
     
   }
</style>
<div class="row">
  <div>
    {if $userid==2}
      <p class="pull-right">
      <a href="/homeadmin/comments">
        Spam回复{$spamcount}个
      </a>, 
      <a href="/homeadmin/applenews/unmarked/">
        未检查新闻{$newscount}条
      </a>。
    </p>
  {/if}
  <div class="clearfix"></div>
</div>


<div class="span7">
  <div class="content-unit">
    <div style="text-align:right;">
      <a href="/thread/new/" class="btn btn-success">发 布 新 帖</a>
    </div>
    <div style="padding: 10px;margin-bottom: 30px;">
      <div class="pull-right">
        <a href="/thread/">最新</a> | <a href="/thread/hot/">最热</a> | <a href="/thread/cold/">最冷</a>
      </div>
      <h2>提问区</h2>
      {foreach from=$threads item=item}
      <div class="threadblock">
        <div class="pull-left" style="width:48px;height:48px;background-color:#d9edf7;margin-right:5px;border-radius:5px;">
          <div style="text-align:center;color:green;font-weight:bold;margin-top:4px;">{$item.likecount-$item.dislikecount}<br/>赞成</div>
        </div>
        
        <div class="pull-left" style="width:48px;height:48px;background-color:#3a87ad;margin-right:5px;border-radius:5px;">
          <div style="text-align:center;color:white;font-weight:bold;margin-top:4px;">{$item.replys}<br/>回复</div>
        </div>
        
        {if $item.image}
          <a href="/user/show/{$item.createbyid}/{$item.createby}/" class="muted" target="_blank">
            <img src="{$item.image}" width="24" height="24" style="float:right;border-radius:5px;">
          </a>
        {/if}
        <div style="margin-left:54px;">
          <a href="/thread/show/{$item.id}/">{$item.title}</a>
          <div class="muted">
            {$item.createtime} by  
            <a href="/user/show/{$item.createbyid}/{$item.createby}/" class="muted" target="_blank">{$item.createby}</a> 
            {if $item.lastreplyid>0}
              | 最后回复 {$item.updatetime} by <a href="/user/show/{$item.lastreplyid}/{$item.lastreply}/" class="muted" target="_blank">{$item.lastreply}</a> 
            {/if}
          </div>
        </div>
      </div>
      {/foreach}
    </div>
    <div style="text-align:center;">
      {$pageControl}
    </div>
  </div>
</div>

<div class="span5">
  
  <div class="siderbar-unit">
    <strong>十大社区英雄</strong>
	  <div class="newsblock">
      {foreach from=$users item=user}
          <div style="float:left;text-align:center;width:80px;height:76px;">
            <a href="/user/show/{$user.uid}/{$user.username}/" target="_blank">
              <img src="{$user.image}" width="60" height="60" title="{$user.username}"
               style="margin-top:8px;border-radius: 30px;
"/>
            </a>
          </div>
      {/foreach}
      <div class="clearfix"></div>
    </div>
  </div>
  
  <div class="siderbar-unit">
    <div style="text-align:right;">
      <a href="/thread/new/" class="btn btn-success">发 布 新 帖</a>
    </div>
    <div style="padding: 10px;margin-bottom: 30px;">
      <p class="pull-right">
        <a href="/thread/">最新</a> | <a href="/thread/hot/">最热</a> | <a href="/thread/cold/">最冷</a>
      </p>
      <h2>灌水区</h2>
      {foreach from=$threads item=item}
      <div class="threadblock">
        <div class="pull-right">
          <div class="label label-info pull-right" style="display:block;">{$item.replys}回复</div>
          <br/>
          <div class="label label-warning pull-right" style="display:block;">{$item.likecount-$item.dislikecount}赞成</div>
        </div>
        <div style="">
          
          <a href="/thread/show/{$item.id}/">{$item.title}</a>
          <div class="muted">
            {$item.createtime} by  
            <a href="/user/show/{$item.createbyid}/{$item.createby}/" class="muted" target="_blank">{$item.createby}</a> 
            <a href="/user/show/{$item.createbyid}/{$item.createby}/"target="_blank">
              <img src="{$item.image}" style="width:12px;height:12px;margin-top:-6px;">
            </a>
            
            {if $item.lastreplyid>0}
              | 最后回复 {$item.updatetime} by <a href="/user/show/{$item.lastreplyid}/{$item.lastreply}/" class="muted" target="_blank">{$item.lastreply}</a> 
            {/if}
          </div>
        </div>
      </div>
      {/foreach}
    </div>
    <div style="text-align:center;">
      {$pageControl}
    </div>
  </div>
</div>

</div>
