<style>
   .heroicon {
     
     width:24px;
     height:24px;
     float:left;
     
   }
</style>
<div class="row">
  <div>
    {if $userid==2}
      <p class="pull-right">
      <a href="/homeadmin/comments">
        Spam回复{$spamcount}个
      </a>, 
      <a href="/homeadmin/applenews/unmarked/">
        未检查新闻{$newscount}条
      </a>。
    </p>
  {/if}
  <div class="clearfix"></div>
</div>


<div class="span7">
  <div class="content-unit">
    <div style="text-align:right;">
      <a href="/thread/new/" class="btn btn-success">发 布 新 帖</a>
    </div>
    <div style="padding: 10px;margin-bottom: 30px;">
      <p class="pull-right">
        <a href="/thread/">最新</a> | <a href="/thread/hot/">最热</a> | <a href="/thread/cold/">最冷</a>
      </p>
      <strong>讨论区</strong>
      {foreach from=$threads item=item}
      <div class="threadblock">
        <div class="pull-left" style="width:48px;height:48px;background-color:#d9edf7;margin-right:5px;">
          <div style="text-align:center;color:green;font-weight:bold;margin-top:4px;">{$item.likecount-$item.dislikecount}<br/>赞成</div>
        </div>
        
        <div class="pull-left" style="width:48px;height:48px;background-color:#3a87ad;margin-right:5px;">
          <div style="text-align:center;color:white;font-weight:bold;margin-top:4px;">{$item.replys}<br/>回复</div>
        </div>
        
        {if $item.image}
          <a href="/user/show/{$item.createbyid}/{$item.createby}/" class="muted" target="_blank">
            <img src="{$item.image}" width="24" height="24" style="float:right;">
          </a>
        {/if}
        <div style="margin-left:54px;">
          <a href="/thread/show/{$item.id}/">{$item.title}</a>
          <div class="muted">
            {$item.createtime} by  
            <a href="/user/show/{$item.createbyid}/{$item.createby}/" class="muted" target="_blank">{$item.createby}</a> 
            {if $item.lastreplyid>0}
              | 最后回复 {$item.updatetime} by <a href="/user/show/{$item.lastreplyid}/{$item.lastreply}/" class="muted" target="_blank">{$item.lastreply}</a> 
            {/if}
          </div>
        </div>
      </div>
      {/foreach}
    </div>
    <div style="text-align:center;">
      {$pageControl}
    </div>
  </div>
</div>

<div class="span5">
  
  <div class="siderbar-unit">
    <strong>十大社区英雄</strong>
	  <div class="newsblock">
      {foreach from=$users item=user}
          <div style="float:left;text-align:center;width:80px;height:76px;">
            <a href="/user/show/{$user.uid}/{$user.username}/" target="_blank">
              <img src="http://tiny4cocoa.org/img/48mask.png" width="48" height="48" style="margin-top:8px;background-image:url({$user.image});" title="{$user.username}">
            </a>
          </div>
      {/foreach}
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="siderbar-unit">
    <strong>苹果新闻</strong>
    {foreach from=$applenews item=item}
	  <div class="newsblock">
      {if $item.image}
        <img src="{$item.image}" width="40" style="float:left;">
      {/if}
      <div style="margin-left:50px;">
      <a href="/apple/n/{$item.id}/">
        {$item.title}
      </a>
      <div style="text-align:right;">
        <small class="muted">
          by {$item.name} 发布于{$item.time}
        </small>
      </div>
    </div>
    </div>
    {/foreach}
    <p class="threadfootnote"><a href="/apple/">查看更多</a></p>
  </div>
</div>

</div>
