<div class="hero-unit">
  <h3>友情链接</h3>
  <h4>编程论坛</h4>
  <p>
    <a href="http://www.51weixue.com" target="_blank">为学论坛</a> 
  </p>
  <h4>IT媒体</h4>
  <p>
    <a href="http://www.google.org.cn/" target="_blank" title="谷奥">谷奥</a>     </p>
  <h4>IT Blog</h4>
  <p>
    <a href="http://www.mikespook.com/" target="_blank" title="Some reminiscences, some memories">Some reminiscences, some memories</a> ｜ 
    <a href="http://jiahu.net/" target="_blank" title="家有小虎">家有小虎</a> ｜
    <a href="http://wangleheng.net/" target="_blank" title="joyfire王乐珩">joyfire王乐珩</a> ｜
    <a href="http://www.nooidea.com/" target="_blank" title="装傻充愣">装傻充愣</a>
  </p>
</div>