<div class="row">
  <div class="span3">
    <div class="hero-unit" style="padding:10px;">
      <h4>友情链接联系</h4>
      <p>要求：类型类似，IT Blog，论坛即可，做好本站友情链接，Mail我即可 <a href="mailto:tinyfool@gmail.com">tinyfool@gmail.com</a> 。</p>
    </div>
  </div>
  
  <div class="span9">
    <h3>友情链接</h3>
    <h4>编程论坛</h4>
    <p>
      <a href="http://www.51weixue.com" target="_blank">为学论坛</a> ｜ 
      <a href="http://www.acejoy.com/" target="_blank">ACE开发者论坛</a> 
    </p>
    <h4>IT媒体</h4>
    <p>
      <a href="http://www.google.org.cn/" target="_blank" title="谷奥">谷奥</a>     </p>
    <h4>IT Blog</h4>
    <p>
      <a href="http://www.mikespook.com/" target="_blank" title="Some reminiscences, some memories">Some reminiscences, some memories</a> ｜ 
      <a href="http://jiahu.net/" target="_blank" title="家有小虎">家有小虎</a> ｜
      <a href="http://wangleheng.net/" target="_blank" title="joyfire王乐珩">joyfire王乐珩</a> ｜
      <a href="http://www.nooidea.com/" target="_blank" title="装傻充愣">装傻充愣</a> ｜
      <a href="http://www.shahuwang.com" target="_blank">沙湖王</a> ｜ 
      <a href="http://blog.im1986.com" target="_blank">I am 1986</a> ｜
      <a href="http://doria.sinaapp.com" target="_blank">一忻阁</a>
    </p>
    <h4>法律相关</h4>
    <p>
      <a href="http://www.legalservice.cn">长城知识产权法律服务网</a>
    </p>
  </div>
</div>