<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
<channel>
  <title>Tiny4Cocoa最新新闻</title>
  <link>http://tiny4cocoa.com/home/</link>
  <description>Tiny4Cocoa最新新闻</description>
  <atom:link href="http://tiny4cocoa.com/home/rss/" rel="self" type="application/rss+xml" />
  {foreach from=$allnews item=news}
    <item>	
      <title><![CDATA[{$news.title}]]></title>
  	  <link>http://tiny4cocoa.com/home/s/{$news.id}/</link>
  	  <guid>{$news.id}</guid>
      <description><![CDATA[{$news.content}
        <br/>
        <a href="http://tiny4cocoa.com/home/s/{$news.id}/">原文地址</a>
        ]]></description>
  	  <pubDate>{$news.createtime|date_format:"%a, %d %b %Y %H:%M:%S %z"}</pubDate>
    </item>
  {/foreach}
</channel>
</rss>
