<div class="news_content">
  <h1 class="title">{$news.title}</h1>
  <p class="desc">by {$news.poster} {$news.createtime}</p>
  <div class="content">
    <a href="/newsupload/{$news.filename}.{$news.ext}" target="_blank">
      <img class="pic" src="/newsupload/{$news.filename}_m.{$news.ext}" width="300">
    </a>
    {$news.content}
  </div>
</div>

<div class="news_sidebar">
  <div class="block_title">论坛最新更新</div>
  <ul>
    {foreach from=$threads item=thread}
    <a href="/thread-{$thread.tid}-1-1.html" target="_blank">
      <li class="newstitle">
        {$thread.subject}
        </li>
      </a>
      {/foreach}
    </ul>
    <br/>
    <script type="text/javascript"><!--
      google_ad_client = "ca-pub-7732761529337293";
      /* tiny4cocoa正方形250&#42;250 */
      google_ad_slot = "7613412479";
      google_ad_width = 250;
      google_ad_height = 250;
      //-->
    </script>
    <script type="text/javascript"
    src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
  </script>
</div>

