	
<style>
  {literal}
  .news_content {
    
    width:640px;
    float:left;
    padding:20px;
    border-right:1px solid #666;
  }
  
  .news_sidebar {
    
    float:right;
    width:265px;
  }

  .news_content .title {
	
    font-size:32px;
    padding-top:10px;
    padding-bottom:10px;
  }
  .news_content .desc {
    margin-top:10px;
    padding-left:5px;
    border-bottom:1px dashed #666;
  }
  .news_content .content {
    
    font-size:14px;
    padding:0px;
    margin-top:10px;
  }
  
  .news_content .pic {
	
    width:220px;
    height:146px;
    float:left;
    padding-right:10px;
    padding-bottom:7px;
  }
  
  {/literal}
</style>

<div class="news_content">
  <h1 class="title">{$news.title}</h1>
  <p class="desc">by {$news.poster} {$news.createtime}</p>
  <div class="content">
    <img class="pic" src="{$news.pic1}">
    {$news.content}
  </div>
</div>

<div class="news_sidebar">
  <div class="block_title">论坛最新更新</div>
  <ul>
    {foreach from=$threads item=thread}
    <a href="/thread-{$thread.tid}-1-1.html" target="_blank">
      <li class="newstitle">
        {$thread.subject}
        <!-- <p class="threadfootnote">{$thread.lastposter}回复  [{$thread.replies}/{$thread.views}]<p> -->
        </li>
      </a>
      {/foreach}
    </ul>

  </div>

