<div class="row">
  <div class="span2">
    <div style="padding:10px" class="hero-unit">
      <h4>热门Tag: </h4>
      <ul>
      {foreach from=$tags item=tag}
        <li><a href="/tag.php?name={$tag.tagname}" target="_blank">{$tag.tagname} （{$tag.total}）</a></li>
      {/foreach}
      </ul>
    </div>
  </div>
  <div class="span10">
    <div class="row">
    {foreach from=$alltags item=tag}
      <div class="span3" style="overflow:hidden;height:280px;">
        <h4>
          <a href="/tag.php?name={$tag.tagname}" target="_blank">
            {$tag.tagname} （{$tag.total}）
          </a>
        </h4>
        <hr>
        <div style="width:800px;">
          <ul>
            {foreach from=$tag.threads item=thread}
              <li><a href="/thread-{$thread.tid}-1-1.html" target="_blank">{$thread.subject}</a></li>
            {/foreach}
          </ul>
        </div>
      </div>
    {/foreach}
    </div>
    <div style="text-align:center;">
      {$pageControl}
    </div>
  </div>
</div>