body {
  background-color:#ccc;
}

.wmd-button
{
	background-image: url(/images/wmd-buttons.png);
}

#wmd-input 
{
	
	height:200px;
}

.jcrop-hline {
  background: #ffffff url("/images/Jcrop.gif");
}
