.threadblock {

  padding-top:10px;
  padding-bottom:10px;
  border-top:#D0D0D0 dashed 1px;
}

@media (max-device-width: 480px) {

.threadblock p {
	
	word-break:break-all;
	word-wrap: break-word;
}
}

#thread_elevator { left: 0px; right: 0px; top: 50%; position: fixed; z-index:-100;}
