a 		  {text-decoration:none;}
a:link    {color:green;}
a:visited {color:green;}
a:hover   {color:red;}

body {
	text-align:center;
	margin:0;
	padding:0;
}
div {

	text-align:left;
	font-size:24px;
	padding:0px;
	margin:0px;
}

#nav {

	width:100%;
	background-color:#eaeaea;
	font-size:22px;
	
}

#wrap {
	
	width:100%;
}

.right {
	
	text-align:right;

}

.forumcount,.forumstats{
	margin-right:4px;
	font-size:16px;
	color:#777;
}
.list h3 {

	background-color:#DFECBF;
	color:#000;
	font-size:24px;
	padding-left:5px;
}
.list h3 a{
	color:#000;
}

.forumcell {
	font-size:26px;
	margin-left:14px;
}

.online h3{
	
	font-size:12px;
}
#forumheader h1 {

	font-size:26px;
}

.pages {
	text-align:right;
	font-size:24px;
}
#threadtitle h1 {
	font-size:28px;

}