{template header}


<table cellspacing="0" cellpadding="0" border="0" width="{TABLEWIDTH}" align="center" style="table-layout: fixed"> 
<tr><td class="nav" width="90%" align="left" nowrap>&nbsp;<a href="index.php">$bbname</a>  &raquo; {lang member_login}</td>
<td align="right" width="10%">&nbsp;<a href="#bottom"><img src="{IMGDIR}/arrow_dw.gif" border="0" align="absmiddle"></a></td>        
</tr></table><br>
<table cellspacing="0" cellpadding="0" border="0" width="{TABLEWIDTH}" align="center" style="table-layout: fixed">【表标记】 
<tr>【行标记】<td class="nav" width="90%" align="left" nowrap> 【列标记】<a href="index.php">$bbname【论坛名称】</a>【链接】  &raquo; $navtitle 【分类名称】</td>
<td align="right" width="10%"> <a href="#bottom"><img src="{IMGDIR}/arrow_dw.gif" border="0" align="absmiddle">【图片】</a></td>        
</tr></table><br>


{template footer}
