{eval $needhiddenreply = ($hiddenreplies && $discuz_uid != $post['authorid'] && $discuz_uid != $thread['authorid'] && !$post['first'] && !$forum['ismoderator']);}

<hr/>
<strong><a title="{lang share_url_copy}" id="postnum$post[pid]" href="javascript:;" onclick="setCopy('{$boardurl}{if $post[first]}viewthread.php?tid=$tid$fromuid{else}redirect.php?goto=findpost&amp;ptid=$tid&amp;pid=$post[pid]$fromuid{/if}', '{lang post_copied}')"><!--{if !empty($postno[$post[number]])}-->$postno[$post[number]]<!--{else}--><em>{$post[number]}</em>{$postno[0]}<!--{/if}--></a>

	<!--{if $post['first']}-->
		<div id="threadtitle">
			<!--{if $thread['readperm']}--><em>{lang readperm_thread} $thread[readperm]</em><!--{/if}-->
			<h1>$thread[subject]</h1>
			<!--{if $thread[tags] || $relatedkeywords}-->
				<div class="threadtags">
					<!--{if $thread['tags']}-->$thread[tags]<!--{/if}-->
					<!--{if $relatedkeywords}--><span class="postkeywords">$relatedkeywords</span><!--{/if}-->
				</div>
			<!--{/if}-->
		</div>
	<!--{elseif $post['subject']}-->
		<h2>$post[subject]</h2>
	<!--{/if}-->
	
<table width="100%" style="TABLE-LAYOUT:fixed;wordBreak:break-all;font-size: 24px;word-wrap: break-word;
font-weight: normal;">
<tr><td  style="padding:10px;overflow-x:hidden;">
	$post[message]
</td></tr>
</table>

<!-- <div style="width:100%;border:solid red 1px;">
</div> -->
<!--{if $aimgs[$post[pid]]}-->
<script type="text/javascript" reload="1">aimgcount[{$post[pid]}] = [{echo implode(',', $aimgs[$post[pid]]);}];attachimgshow($post[pid]);</script>
<!--{/if}-->
{$pluginhooks[viewthread_endline][$postcount]}
{eval $postcount++;}