<div style="text-align:center;">
<table align="center" summary="forum_26" cellspacing="0" cellpadding="0" class="datatable">
  <tr  style="height:42px;background-color:#EBF2F8;border-bottom:1px solid #ccc;border-top:1px solid #ccc;">
  <th>
   主题
  </th>
  <td class="author"><a href="forumdisplay.php?fid=28&amp;filter=&amp;orderby=dateline" class="order ">作者/时间</a></td>
  <td class="nums"><a href="forumdisplay.php?fid=28&amp;filter=&amp;orderby=replies" class="order ">回复</a>&nbsp;<a href="forumdisplay.php?fid=28&amp;filter=&amp;orderby=views" class="order ">查看</a></td>
  <td class="lastpost"><cite>最后发表</cite></td>
  </tr>
{foreach from=$threads item=thread}
  <tbody>
  <tr style="margin-top:15px;height:50px;border-bottom:1px solid #ccc;">
  <th class="subject common">
  <label>&nbsp;</label>
   <span id="thread_{$thread.tid}"><a href="/thread-{$thread.tid}-1-1.html" target="_blank">{$thread.subject}</a></span>
  </th>
  <td class="author" align="left">
  <p>
  <a href="/space-uid-{$thread.authorid}.html">{$thread.author}</a>
  </p>
  <em>{$thread.dateline|date_format:"%Y年%m月%d日"}</em>
  </td>
  <td class="nums"><strong>{$thread.replies}</strong>/<em>{$thread.views}</em></td>
  <td class="lastpost">
  <cite><a href="/space-username-{$thread.lastposter}.html">{$thread.lastposter}</a></cite>
  <em><a href="/redirect.php?tid={$thread.tid}&amp;goto=lastpost#lastpost">{$thread.lastpost|date_format:"%Y年%m月%d日"}</a></em>
  </td>
  </tr>
  </tbody>
{/foreach}
</table>
</div>