*{margin:0; padding:0; border:0; outline:none;}
body{font-family:arial,sans-serif; font-size:0.8em; color:#2A2A2A; width:800px; margin:0 auto; background-image: url(images/bg.gif); background-color: #2A2A2A;}

h1, h2, h3{font-family:"黑体";}

h1{padding:0.6em 0 0 0; font-size:3.2em; color:#F2F2F2; text-shadow:1px 1px 2px #2A2A2A;}

h2{font-size:1.6em; color:#2A2A2A; text-shadow:1px 1px 2px #ccc;}

h3{font-size:1.3em; text-shadow:1px 1px 2px #ccc;}

ul{list-style:none; padding:0px; margin:0px;}
.icon {float:left;padding:0px 10px 5px 0px;}
.rest{color:green;}
.speech{color:red;}
.w720{width:720px;}
.hi24{line-height:24px}
.hi30{height:30px;}
.pack li{float: left;}
.pbox{padding:55px 0px 10px 30px;}
.mbox{margin:0px 55px 0px 5px;}
.left{float:left;}
.right{float:right;}
.day_time{width:80px; text-align:left;}

.shadow1{-moz-box-shadow:3px 2px 3px #666; -webkit-box-shadow:3px 2px 3px #666;}
.shadow2{-moz-box-shadow:1px 1px 1px #666; -webkit-box-shadow:1px 1px 1px #666;}

.w800{width:800px; height: 129px; background: url(images/bg_top.gif) repeat-x;}

.clear{clear:both;}

#pic{overflow: hidden; width: 214px; height: 129px; background: url(images/logo.gif) no-repeat 0px 0px; float:left;}

#brief{margin-left:5px;}
.desc {

margin-left:30px;	
	
}
.mid-top{overflow: hidden; width: 800px; height: 18px; background: url(images/bg_mid.gif) no-repeat 0px 0px}
.mid-mid{overflow: hidden; width: 800px; background: url(images/mid_br.gif) repeat-y 0px 0px; padding:10px 30px 5px 30px;}
.mid-foot{overflow: hidden; width: 800px; height: 149px; background: url(images/bg_mid.gif) no-repeat 0px -18px;}
.mid-foot1{overflow: hidden; width: 800px; height: 30px; background: url(images/bg_end.gif) no-repeat 0px 0px;}

#brief p{margin:0.6em;}

.tab-menul{overflow: hidden; width: 17px; height: 29px; background: url(images/br_t.gif) no-repeat 0px 0px}
.tab-menur{overflow: hidden; width: 17px; height: 29px; background: url(images/br_t.gif) no-repeat -17px 0px}
.tab-menu {overflow: hidden; height: 29px; background: url(images/br_m.gif) repeat-x 0px 0px}

.topline_1 {overflow: hidden; font-size: 14px; width: 80px; height: 29px; background: url(images/br_over.gif) no-repeat 0px 0px; text-align:center; margin-left:auto; margin-right:auto; padding:5px 0px 0px 0px;}
.topline_1 a {color: #FFF; text-shadow:1px 1px 2px #ccc; text-decoration: none;}
.topline{display: block; width: 80px; height: 29px; font-size: 14px; text-align:center; margin-left:auto; margin-right:auto;}
.topline a {display: block; width: 80px; height: 29px; color: #F2F2F2; text-shadow:1px 1px 2px #ccc; text-decoration: none; padding:5px 0px 0px 0px;}
.topline a:hover {display: block; width: height: 29px: 24px; color: #fff; text-shadow:1px 1px 2px #ccc; text-decoration: none; background: url(images/br_over.gif) no-repeat 0px 0px}

.active{
    background-color:#6666FE;
}
ul.tab-menu span{
    padding:0.3em 0.5em;
    font-weight:bold;
    margin:0 0.4em;
    color:#fff;
}
ul.tab-menu a span{    
    font-weight:normal;
    margin:0;
    cursor:pointer;
    color:#666;
    -moz-box-shadow:none;
	-webkit-box-shadow:none;
}
p{
    margin:1.5em 0;
}
.time-item, .schedule-item p, .speaker-item{
    -moz-border-radius-bottomright:4px;
    -webkit-border-bottom-right-radius:4px;
}
.time-item{
    font-weight:bold;
    float:left;
    padding:0 0.5em .3em 0;
}
.schedule-item{margin-bottom:0.9em; padding:0px 60px 0px 0px;}
.schedule-item p{
    margin:0 0 0 100px;
    padding:0 0.5em .3em 0;
}
.toggle{
    background-color:#FBFBFF;
}
.speaker-item{
    padding:3px 3px 1px 6px;
    margin-bottom:1em;
}
.speaker-name{
    margin-bottom:0.5em;
    display:block;
    font-weight:bold;
}
.speaker-com{border-bottom:1px dashed #666; padding-bottom:0.4em; font-weight:bold; display:inline-block; margin-bottom:0.5em;}
.speaker-intro{margin:0.5em 0;}
ul.rs-dl li{height:35px;}

ul.rs-dl li a{color:#2A2A2A; text-decoration:none; border-bottom:1px dashed;}
ul.rs-dl li a:hover{color:#6666fe;}

.separater{height:1px; border-bottom:1px dashed #ddd; margin:2em 2em 2em 0em; width:720px;}

#footer{margin:2em 0; text-align:center; color:#F2F2F2;}