<div class="playground_main">
  <h1>Footprint App测试申请表</h1>
<form action="/playground/saverequest/" method="post">
  <p>
    Footprint(暂用名) App是上海泰尼网络科技正在开发的LBS社交App，需要你有FourSquare帐号，才能玩。我们真诚的邀请您加入我们的Alpha测试。
  </p>
  <p>
    参加测试要求您有一台iPhone、iPad或者iPod touch，不需要越狱，至少需要你有FourSquare帐号。想参加该测试，您只需要填写以下表格，然后等待我们的审核，一旦审核通过技术人员会联系您。
  </p>
  <p>
    <label for="email">您的email</label><input type="text" name="email" value="" id="email">
    <input type="hidden" name="app" value="1" id="app">
  </p>
  <p>您在 (
    <input type="checkbox" name="FourSquare" value="1" id="FourSquare"><label for="FourSquare" class="inline_label">FourSquare</label> |
    <input type="checkbox" name="Instagram" value="1" id="Instagram"><label for="Instagram" class="inline_label">Instagram</label>  |
    <input type="checkbox" name="Twitter" value="1" id="Twitter"><label for="Twitter" class="inline_label">Twitter</label> |
    <input type="checkbox" name="Facebook" value="1" id="Facebook"><label for="Facebook" class="inline_label">Facebook</label> 
  )上活跃？
  </p>
  <p>
    <label for="other">有没有什么原因，我们应该优先邀请您？</label><input type="text" name="other" value="" id="other" style="width:600px;">
  </p>
  <p>
    <input type="submit" value="提交申请表"/>
  </p>
</form>
</div>