<script type="text/javascript">

var jcrop_api,
    boundx,
    boundy;
    
$(document).ready(function() { 
  $('#UploadForm').on('submit', function(e) {
    e.preventDefault();
    $('#SubmitButton').attr('disabled', '');
    $("#output_ret").html('<div style="padding:10px"><span>上传中...</span></div>');
    $(this).ajaxSubmit({
    });
  });
}); 

function afterSuccess(responseText, statusText, xhr, $form)  {
  
  $('#UploadForm').resetForm();
  $('#SubmitButton').removeAttr('disabled');
  if(responseText=="ERROR") {
    $("#output_ret").html('<div style="padding:10px"><span>上传失败，请重试。(请不要使用太大的文件)</span></div>');
    return;
  }
  $("#output_ret").html('<img id="selectimage" src="/uploadtemp/' + responseText + '">');
  $("#previewimg").css("background-image",
    "url(/uploadtemp/"+responseText+")");
  $("#selectimage").Jcrop({
    onSelect: showCoords,
    onChange: showCoords,
    setSelect: [ 0, 0, 50, 50 ],
    aspectRatio: 1
  },function(){
      // Use the API to get the real image size
      var bounds = this.getBounds();
      boundx = bounds[0];
      boundy = bounds[1];
      // Store the API in the jcrop_api variable
      jcrop_api = this;

      // Move the preview into the jcrop container for css positioning
      $preview.appendTo(jcrop_api.ui.holder);
    });
} 

function showCoords(c){
  
  w = boundx*48/c.w;
  h = boundy*48/c.h;
  x = -c.x*48/boundx;
  y = -c.y*48/boundy;
  
  $("#previewimg").css('background-position',x+"px "+y+"px");
  $("#previewimg").css('background-size',w+"px "+h+"px");
  $("#debug").html(c.x+","+c.y+";"+c.w+","+c.h);
}

function updatePre(c){
  
  
}
</script>
<style>
#previewimg {
  float:right;
  width:48px;
  height:48px;
  background-image:url('{$avatar}');
  border:solid 5px white;
  background-repeat:no-repeat;
}
</style>
<div class="row">
  <div class="span3"></div>
  <div class="span6">
    <div class="content-unit">
      <div id="previewimg">
      </div>
      <h4>头像修改</h4>
      <div class="threadblock">
        <form action="/user/avatar/" method="post" enctype="multipart/form-data" id="UploadForm">
          <input name="ImageFile" type="file" />
          <input type="submit"  id="SubmitButton" value="上传" />
        </form>
        <div id="output" style="display:none;"></div>
        <div id="debug"></div>
        <div id="output_ret"></div>
      </div>
    </div>
  </div>
  <div class="span3"></div>
</div>