<script type="text/javascript">
$(document).ready(function() {
  $("#resetpasswordform").validate({
    submitHandler: function (form) {
        $.ajax({
            type: 'POST',
            data: $('form').serialize(),
            url: '/user/forgotpassword/', 
            success: function (msg) {
              
                if (msg== "ok") {
                  
                  window.location.href="/user/forgotpassword/ok/";    
                  
                } else if(msg=="user_not_found"){
                  
                  alert("用户名没有找到，请确认后重新输入");
                  $("#name").val("");
                  Recaptcha.reload(); 
                } else {
                  
                  alert("验证码错误，请重新输入");
                  Recaptcha.reload(); 
                }
            }
        });
        return false; 
    }
  });
});
</script>
<div class="row">
  <div class="span4"></div>
  <div class="span4">
    <div class="content-unit">
      <h4>忘记密码</h4>
      <div class="threadblock" style="padding-left:30px;">
        <form id="resetpasswordform" action="/user/forgotpassword/" method="post" accept-charset="utf-8">
          <label for="name">用户名</label><input type="text" name="name" value="" id="name" required>
          <p>验证码<br/>
            <script type="text/javascript" src="http://www.google.com/recaptcha/api/challenge?k=6LcGEuMSAAAAAOKJbYerrUqiotwH4wHyYr5E0Y-w"></script>
	          <noscript>
  		        <iframe src="http://www.google.com/recaptcha/api/noscript?k=6LcGEuMSAAAAAOKJbYerrUqiotwH4wHyYr5E0Y-w" height="300" width="500" frameborder="0"></iframe><br/>
  		        <textarea name="recaptcha_challenge_field" rows="3" cols="40"></textarea>
  		        <input type="hidden" name="recaptcha_response_field" value="manual_challenge"/>
	          </noscript>          
          </p>
          <p><input type="submit" name="submit" value="重置密码" id="submit" class="btn btn-primary"></p>
        </form>
      </div>
    </div>
  </div>
  <div class="span4"></div>
</div>