<div class="row">
  <div class="span4"></div>
  <div class="span4">
    <div class="content-unit">
      <h4>登录</h4>
      <div class="threadblock" style="padding-left:30px;">
        <form action="/user/login/" method="post" accept-charset="utf-8">
          <label for="name">用户名</label><input type="text" name="name" value="" id="name">
          <label for="password">密码</label><input type="password" name="password" value="" id="password">
          <!-- <p><label for="保存cookie" style="display:inline-block;">保存cookie</label><input type="checkbox" name="保存cookie" value="" id="保存cookie">
          </p> -->
          <p><input type="submit" name="submit" value="登录" id="submit" class="btn btn-primary"></p>
        </form>
      </div>
    </div>
  </div>
  <div class="span4"></div>
</div>