<script type="text/javascript">
$(document).ready(function() {
  $("#passwordform").validate({
    rules: { 
      oldpassword: {
        required:true,
        minlength:6,
        maxlength:30,
      },
      
      newpassword: {
        required:true,
        minlength:6,
        maxlength:30,
      },
      newpassword2: {
        required:true,
        minlength:6,
        maxlength:30,
        equalTo: "#newpassword",
      }
    }, 
    messages:{
      
      name:{
        remote:"用户名已经存在，请换一个"
      },
      email: {
        remote:"该邮箱已经被使用，请换一个"
      },
    },
    onkeyup: false,
    onblur: true
  });
});

</script>
<div class="row">
  <div class="span4">
  </div>
  <div class="span4">
    <div class="content-unit">
      <h4>修改密码</h4>
      <div class="threadblock" style="padding-left:20px;">
        <form id="passwordform" action="/user/password/" method="post" accept-charset="utf-8">
          <label for="oldpassword">现有密码</label><input type="password" name="oldpassword" value="" id="oldpassword">
          <label for="newpassword">新密码</label><input type="password" name="newpassword" value="" id="newpassword">
          <label for="newpassword2">重复新密码</label><input type="password" name="newpassword2" value="" id="newpassword2">
          <p><input type="submit" class="btn" value="提 交"></p>
        </form>
      </div>
    </div>
  </div>
  <div class="span4">
  </div>
</div>