<style>
 
.content-unit {
  
  height:120px;

}
</style>
<div class="row">
  <p style="float:right;"><a href="/user/">水王榜</a></p>
  <p>最新注册</p>
  {foreach from=$users item=user}
    <div class="span4">
      <div class="content-unit">
          <a href="/user/show/{$user.uid}/{$user.username}/" 
            target="_blank">
            {$user.username}
          </a>
        <div class="threadblock">
          <img src="{$user.image}" width="48" height="48" style="float:right;">
          <p>注册时间：{$user.regdate}<br/>
          上次登录：{$user.lastlogintime}<br/>
          发帖数：{$user.posts}<br/>
          回帖数：{$user.replys}
          </p>
        </div>
      </div>
    </div>
  {/foreach}
  <div style="text-align:center;">
    {$pageControl}
  </div>

</div>