<script type="text/javascript">

$(document).ready(function() {
  $("#resetpasswordform").validate({
    rules: { 
      password: {
        required:true,
        minlength:6,
        maxlength:30,
      },
      password1: {
        required:true,
        minlength:6,
        maxlength:30,
        equalTo: "#password",
      }
    }, 
    onkeyup: false,
    onblur: true
  });
});

</script>
<div class="row">
  <div class="span4"></div>
  <div class="span4">
    <div class="content-unit">
      <h4>重置密码</h4>
      <div class="threadblock" style="padding-left:30px;">
        <p>您正在重置{$username}的密码</p>
        <form id="resetpasswordform" action="/user/resetpassword/" method="post" accept-charset="utf-8">
          <label for="password">密码</label><input type="password" name="password" value="" id="password">
          <label for="password1">重复密码</label><input type="password" name="password1" value="" id="password1">
          <input type="hidden" name="ticket" value="{$ticket}" id="ticket">
          <p><input type="submit" name="submit" value="重置密码" id="submit" class="btn btn-primary"></p>
        </form>
      </div>
    </div>
  </div>
  <div class="span4"></div>
</div>