<style>
body {
  background-color: 
  #ccc;
}
</style>
<script type="text/javascript">
$(document).ready(function() {
  $("#newreplyform").validate();
});
</script>
<div class="row">
  
  <div class="span8">
    <div class="content-unit">
      <strong>用户：{$user.name}</strong>
      <div class="threadblock" >
        <img src="{$user.image}" class="pull-right">
        <div class="pull-left">
          <span class="field-label">编号</span>：{$user.uid}<br/>
          <span class="field-label">用户名</span>：{$user.username}<br/>
          <span class="field-label">声望</span>：{$user.reputation} <img style="margin-top:-5px;" src="/img/reputation.png"> （<a href="/help/reputation/">什么是声望？</a>）<br/>
          <span class="field-label">金币</span>：{$user.money} <img style="margin-top:-4px;" src="/img/coin.png"><br/>
          
        </div>
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="content-unit">
      <strong>发过的帖子(最近20条)</strong>
      <div class="threadblock">
        <ul>
        {foreach from=$user.threadscreate item=item}
          <li><a href="/thread/show/{$item.id}/">{$item.title} ( {$item.replys} )</a></li>
        {/foreach}
        </ul>
      </div>
    </div>
    
    <div class="content-unit">
      <strong>回过的他人的帖子(最近20条)</strong>
      <div class="threadblock">
        <ul>
        {foreach from=$user.threadsreply item=item}
          <li><a href="/thread/show/{$item.id}/">{$item.title} ( {$item.replys} )</a></li>
        {/foreach}
        </ul>
      </div>
    </div>
    
  </div>
  
  <div class="span4">
    <div class="siderbar-unit" style="text-align:center;">
    </div>
  </div>
  
</div>