<style>
body {
  background-color: 
  #ccc;
}
</style>
<script type="text/javascript">
$(document).ready(function() {
  $("#unsubform").validate();
});
</script>
<div class="row">
  
  <div class="span8">
    <div class="content-unit">
      <h3>退订确认信已经发出</h3>
      <div class="threadblock">
        请查收，收到退订确认后，点击信内的“退订确定”链接即可正式退订。
      </div>
      <div class="clearfix"></div>
    </div>

    
  </div>
  
  <div class="span4">
    <div class="siderbar-unit" style="text-align:center;">
    </div>
  </div>
  
</div>