<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Tiny4Cocoa</title>
    <link rel="stylesheet" type="text/css" href="/css/so/all.css">
    <script type="text/javascript" src="/js/so/jquery.js"></script>
	<script type="text/javascript">
	window.google_analytics_uacct = "UA-53077-22";
	</script>
</head><body style="margin-top: 0px;" class="home-page">
    <noscript><div id="noscript-padding"></div></noscript>
    <div id="notify-container"></div>
    <div id="overlay-header"></div>
    <div id="custom-header"></div>
    <div class="container">
        <div id="header">
            <div id="portalLink">
                <a class="genu">Tiny4Cocoa</a>
            </div>
            <div id="topbar">
                <div id="hlinks">
                    <span id="hlinks-user">
                  
                  </span>
                  <span id="hlinks-nav">
                  <a href="/users/login">登录</a>
 <span class="lsep">|</span>
<!--
<a href="http://careers.stackoverflow.com/">careers</a>
 <span class="lsep">|</span>

                  </span>
                  <span id="hlinks-custom">
                  <a href="http://chat.stackexchange.com/">chat</a>
 <span class="lsep">|</span>
<a href="http://stackapps.com/about">about</a>
 <span class="lsep">|</span>
-->
<a href="http://stackapps.com/faq">faq</a>
                  </span>
                </div>
                <div id="hsearch">
                    <form id="search" action="/search" method="get">
                    <div>
                        <input name="q" class="textbox" tabindex="1" onfocus="if (this.value=='search') this.value = ''" maxlength="80" size="28" value="search" type="text">
                    </div>
                    </form>
                </div>
            </div>
            <br class="cbt">
            <div id="hlogo">
                <a href="/questions">Tiny4Cocoa</a>
            </div>
            <div id="hmenus">
                <div class="nav mainnavs">
                    <ul>
                        <li><a id="nav-questions" href="/questions">问题</a></li>
                        <li><a id="nav-tags" href="/tags">Tags</a></li>
                        <li><a id="nav-users" href="/users">用户</a></li>
                        <li><a id="nav-badges" href="/badges">徽章</a></li>
                        <li><a id="nav-unanswered" href="/unanswered">未回答</a></li>
                    </ul>
                </div>
                <div class="nav askquestion">
                    <ul>
                        <li>
                            <a id="nav-askquestion" href="http://stackapps.com/questions/ask">提问</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
<div id="content">
{$mainContent}
</div>

</div>
    <div id="footer">
        <div class="footerwrap">
            <div id="footer-menu">
                <a href="http://stackapps.com/about">about</a> |
                <div id="footer-sites">
                </div>
            </div>
            <div id="footer-flair">
	            <a href="http://creativecommons.org/licenses/by-sa/2.5/" class="cc-wiki-link"></a>
            </div>
            <div id="copyright">
                Tiny4Cocoa
            </div>
            
        </div>    
		{literal}
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-53077-22']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
		{/literal}
</body></html>