<div class="subheader">
    <h1>使用Google OpenID登录</h1>
</div>

<div id="mainbar">

        <div class="page-description">
			<h4>点击Google图标转到Google进行认证（需要您有一个Gmail帐号）</h4>
			<div style="text-align:center;padding-top:20px;">
					<div style="margin-left:auto;margin-right:auto;text-align:left;width:180px;border:2px solid #cccccc;background-color:white;padding:5px;-webkit-border-radius:7px;">
						<p style="color:#cccccc;">登录到</p>
						<div style="text-align:center;"><a href="/tiny4so/index.php?act=checklogin&login=1">
							<img src="http://tiny4cocoa.com/img/google.png" width="160" height="57"/></a>
						</div>
					</div>
			</div>
		</div>
</div>
<div id="sidebar">
	<div class="module newuser" style="">
	    <h4></h4>
	    <div>
	        <p></p>
	    </div>
	</div>
</div>