<!DOCTYPE HTML PUBLIC "-//W3C//DTD Xhtml 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>{$boxTitle} - Tiny4Cocoa文档库</title>
	<link rel="stylesheet" type="text/css" href="css/msgbox.css" media="all">
	<meta name="title" content="{$title}">
	{$extmeta}
</head>
<body class="zmap-msgbox">
<div id="container">
	<div id="header">
		<div id="logo">
			<a href="./">Tiny4Cocoa文档库</a>
		</div><!-- #logo -->
		<div id="loginbox">
			{$loginbox}
		</div><!-- #loginbox -->
		<div id="headerads">
			<script type="text/javascript"><!--
			google_ad_client = "pub-7732761529337293";
			/* 全能之眼 - 顶部横幅 468x60, 创建于 08-7-13 */
			google_ad_slot = "2915587116";
			google_ad_width = 468;
			google_ad_height = 60;
			//-->
			</script>
			<script type="text/javascript"
			src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
			</script>
		</div><!-- #headerads -->
	</div><!-- #header -->
  	<div id="mainContent">
  		<div id="msgbox">
  			<h3>{$boxTitle}</h3>
  			<div id="boxContent">{$boxContent}</div><!-- #boxContent -->
		</div><!-- #msgbox -->
	</div><!-- #mainContent -->
	<br class="clearfloat">
	<div id="footer">
	</div><!-- #footer -->
</div><!-- #container -->
{literal}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-53077-22']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
{/literal}
</body></html>