<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>{$title} - Tiny4Cocoa文档库</title>
	<link rel="stylesheet" type="text/css" href="/tiny4wiki/css/detail.css" media="all">
	<meta name="title" content="{$title}">
	<meta name="description" content="{$title}">
	<meta name="keywords" content="{$title}">
	<script type="text/javascript">
	window.google_analytics_uacct = "UA-53077-22";
	</script>
	{$extmeta}
	{$extentjs}
</head>
<body class="zmap_point">
<div id="container">
	<div id="header">
		<div style="float:right;">
			<a href="/">论坛</a>|<a href="/doc">文档库</a>|<a href="/2011">Cocoa移动开发者大会 </a>
		</div>
		<div id="logo">
			<a href="/doc">Tiny4Cocoa文档库</a>
		</div><!-- #logo -->
		<div id="loginbox">
			{$loginbox}
		</div><!-- #loginbox -->
	</div><!-- #header -->
  	<div id="sidebar1">
    	<h3>主菜单</h3>
<div style="font-size:13px;">
    	入门
<ul>
			<li><a href="http://tiny4cocoa.com/doc/xcode-doc/ios-overview">iOS概述</a></li>
			<li><a href="http://tiny4cocoa.com/doc/xcode-doc/learn-objective-c">Objective-C入门</a></li>
			<li><a href="http://tiny4cocoa.com/doc/xcode-doc/ios-development-tools-overview">iOS开发工具</a></li>
			<li><a href="http://tiny4cocoa.com/doc/xcode-doc/create-iphone-application">创建一个iPhone应用程序</a></li>
			</ul>
			概述
			<ul>
			<li><a href="http://tiny4cocoa.com/doc/xcode-doc/ios-technology-overview">iOS技术概述</a></li>
			</ul>
</div>
			<ul>
			{$menu}
		</ul>
			{$hotpoints}
			{$randpoints}
  	</div><!-- #sidebar1 -->
  	<div id="mainContent">
{$maincontent}
	</div><!-- #mainContent -->
	<br class="clearfloat">
	<div id="footer">
	<p>
	 光看文档是不够的，有很多疑问吧？去论坛提问讨论才能提高的更快，赶快去论坛注册吧。(<a href="http://tiny4cocoa.com/">前往论坛首页</a>)	
	</p>	
	</div><!-- #footer -->
</div><!-- #container -->

{literal}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-53077-22']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
{/literal}
</body></html>
