.homeadmin_sidebar {
  width:200px;
  float:left;
}

.homeadmin_main {
  float:right;
  width:730px;
}

.homeadmin_main h1 {

  font-size:28px;
  padding:10px;
}
.homeadmin_sidebar .menu  li {
  
  padding:5px;
  margin-left:10px;
  font-size:20px;
}