@charset "UTF-8";
/*div {border:1px red solid;}*/
a			{ text-decoration: none;}
a:hover	    { text-decoration: underline;}

body  {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	background: #666666;
	margin: 0; 
	padding: 0;
	text-align: center;
	color: #000000;
}
.post input 
{
	width:95%;
	overflow-x:visible;
	overflow-y:visible;
}
.post textarea
{
	width:95%;
	height:70px;
	overflow-x:visible;
}
.Attention
{
	font-weight:bold;
	font-size:9pt;
	color:red;
}
.noAttention
{
	font-size:9pt;
	color:green;
}
ins {background: #bfb;display:block;}
del {background: #fcc;display:block;}
ins,del {text-decoration: none}

.data_table
{
	border-collapse: collapse;
	border-width: 1px;
	border-spacing:;
	border-style: outset;
	border-color: rgb(187, 187, 187);
	border-collapse: collapse;
	background-color: white;
	font-size:9pt;
}
.data_table th
{
	border:1px #cccccc solid;
	background-color:rgb(187, 187, 187);
	border-width: 1px;
	padding: 3px;
	border-style: solid;
	border-color: gray;
	
}
.data_table td
{
	border:1px #cccccc solid;
	border-width: 1px;
	padding: 3px;
	border-style: solid;
	border-color: gray;
}
.zmap_admin #loginbox
{

	float:right;

}
.zmap_admin #loginbox a

{

	color: #ffffff;	

}

.zmap_admin #container { 
	width: 99%;
	background: #FFFFFF;
	margin: 0 auto;
	border: 1px solid #000000;
	text-align: left;
	padding:0;
} 
.zmap_admin #header { 
	background: #336699; 
	padding-top:3px;
	color: #ffffff;
	height:75px;
	margin:0px;
} 

.zmap_admin #logo
{
	float:left;
	width:200px;
}
.zmap_admin #logo a
{
	color: #ffffff;
	font-size:48px;
	
}
.zmap_admin #headerads
{
	margin-left:200px;
	text-align:center;
	padding-top:2px;
}
.zmap_admin #sidebar1 {
	float:left; 
	width:200px;
	padding:0;
	z-index:0;
	border-right:1px dotted #999999;
	font-size:11pt;
}
.zmap_admin #mainContent {
	margin: 0 0 0 220px;
	z-index:1;
} 

.zmap_admin #sidebar1 h3
{
	margin:0;
	padding-left:5px;
	background-color: #ffd595;
	font-size:15pt;
}
.zmap_admin #sidebar1 ul
{
	list-style-type:none;
	margin-left:0px;
	padding-left:0px;
	margin-top:0px;
	font-size:13pt;
}
.zmap_admin #sidebar1 li
{
	padding-left:10px;
}
.zmap_admin #sidebar1 a
{
	color:blue;
}

.zmap_admin #sidebar1 a:hover
{
	text-decoration: none;
}
.zmap_admin #sidebar1 a:hover li
{
	background-color: blue;
	color:white;
	
}
.sel_li
{
	background-color: black;
	color:white;
}
.zmap_admin #mainTopAd {
	text-align:center;
}
.zmap_admin #mainRectAd
{
	float:right;
	padding:3px;
}
.zmap_admin #footer { 
	padding: 0 10px;
	background:#DDDDDD;
	text-align:center;
} 
.zmap_admin #footer p {
	margin: 0;
	padding: 10px 0;
}

.zmap_admin #map { 
	width:210px;
	height:120px;
	margin-left:4px;
}
#tiebatitle
{
	background:#0000cc;
	text-align:right;
}
#tiebatitle a
{
	color:#ffffff;
}
#nopost
{
	background:#dddddd;
	padding:3px;
}
.fltrt {
	float: right;
	margin-left: 8px;
}
.fltlft {
	float: left;
	margin-right: 8px;
}
.clearfloat {
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
.odd
{background-color:#eeeeee;}
.even
{background-color:#ffffff;}

